name: Build and Deploy

on:
  schedule:
    - cron: '0 * * * *' # Every hour
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npx astro build

      - name: Check dist
        run: ls -R dist

      - name: Deploy to Cloudflare Pages
        run: npx wrangler pages deploy dist --project-name=rojadirecta-envivo
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

      - name: Ping Google Sitemap
        run: |
          curl "https://www.google.com/ping?sitemap=https://www.rojadirectaenvivo.live/sitemap-index.xml"
